[project]
	description = Stochastic Methods for Resource Allocation that Respect Preferences
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Ersi Ni (nilbot)
[access "refs/for/refs/*"]
	read = group user/Ersi Ni (nilbot)
	push = group user/Ersi Ni (nilbot)
	label-Code-Review = -2..+2 group user/Ersi Ni (nilbot)
	label-Verified = -1..+1 group user/Ersi Ni (nilbot)
	rebase = group user/Ersi Ni (nilbot)
	removeReviewer = group user/Ersi Ni (nilbot)
	submit = group user/Ersi Ni (nilbot)
[access "refs/heads/*"]
	read = group user/Ersi Ni (nilbot)
	create = group user/Ersi Ni (nilbot)
	push = +force group user/Ersi Ni (nilbot)
	pushMerge = group user/Ersi Ni (nilbot)
[access "refs/tags/*"]
	push = +force group user/Ersi Ni (nilbot)
	pushTag = group user/Ersi Ni (nilbot)
	pushSignedTag = group user/Ersi Ni (nilbot)
